### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule home index.html
RewriteRule school forSchool.html
RewriteRule about about.html
RewriteRule Star-Buffs /games/StarBuffs/StarBuffs.html