body
{
    text-align: center;
}

h1
{
    font-weight: bold;
    margin-top: 20px;
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: left !important;
}

header h3
{
    font-weight: bolder;
    color: #8E8E93;
    text-align: left !important;
}

p
{
    text-align: justify;
}

a
{
    text-decoration: none !important;
}

.screenshot img
{
    height: 400px;
    width: auto;
}

.welcome
{
    vertical-align: center;
    horiz-align: right;
}

.welcome img
{
    width: 280px;
    height: 280px;
    object-fit: fill;
    border-radius: 50%;
}

.socialIcon
{
    font-size: 30px;
}

.custom-toggler.navbar-toggler:focus,
.custom-toggler.navbar-toggler:active,
.custom-toggler.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.wwdcProjectCover img
{
    border-radius: 30px;
}

.badge img
{
    height: 50px;
    width: auto;
    margin-top: -10px;
    margin-left: -10px;
}

.experienceList
{
    color: #8E8E93;
}

#secondExperienceList
{
    margin-top: -17px;
}

@media (prefers-color-scheme: light)
{
    body
    {
        background-color: #ffffff;
        color: black;
    }

    a
    {
        color: #057AFB;
    }

    a:hover
    {
        color: #3090ff;
    }

    .welcome img
    {
        border: 5px solid #D1D1D6;
    }

    .navbar a {
        color: #AEAEB2;
        font-weight: bold;
    }

    .navbar a:hover,
    .navbar a:active,
    .navbar a:focus
    {
        color: black;
    }

    .disabled
    {
        color: black !important;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .experienceList b
    {
        color: black;
    }
}

@media (prefers-color-scheme: dark)
{
    body
    {
        background-color: #1C1C1E;
        color: white;
    }

    a
    {
        color: #1584FB;
    }

    a:hover
    {
        color: #4198ff;
    }

    .welcome img
    {
        border: 5px solid #3A3A3C;
    }

    .navbar a {
        color: #636366;
        font-weight: bold;
    }

    .navbar a:hover,
    .navbar a:active,
    .navbar a:focus
    {
        color: white;
    }

    .disabled
    {
        color: white !important;
    }

    .custom-toggler .navbar-toggler-icon {
        background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256, 256, 256, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    .experienceList b
    {
        color: white;
    }
}