body
{
    text-align: center;
}

h1
{
    font-weight: bold;
    margin-top: 20px;
    font-size: 45px;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: left !important;
}

header h3
{
    font-weight: bolder;
    color: #8E8E93;
    text-align: left !important;
}

p
{
    text-align: justify;
}

a
{
    text-decoration: none !important;
    transition: 0.2s;
}

.iPhoneScreenshot
{
    height: 400px;
    width: auto;
}

.bigScreenshot img
{
    height: 500px;
    width: auto;
}

@media(max-width: 1050px) {
    .ipadScreenshot img
    {
        height: auto;
        width: 70vw;
    }
}

@media(min-width: 1050px) {
    .ipadScreenshot img
    {
        height: 70vh;
        width: auto;
    }

    .bigHeader
    {
        height: 100vh;
    }
}

.bigHeader h1
{
    font-size: 60px;
    text-align: center !important;
}

.welcome
{
    vertical-align: center;
    horiz-align: right;
}

.welcome img
{
    object-fit: fill;
    border-radius: 50%;
}

.socialIcon
{
    font-size: 30px;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    margin-top: -8px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 8px;
    transform: rotate(0deg);
}

.bigImage img
{
    border-radius: 30px;
}

.badge img
{
    height: 50px;
    width: auto;
    margin-top: -10px;
    margin-left: -10px;
}

.experienceList
{
    color: #8E8E93;
}

.company img
{
    height: 100px;
    width: auto;
}

h5
{
    color: #8E8E93;
}

#schoolPurposeLabel
{
    text-decoration: underline;
    font-weight: bold;
}

@media (prefers-color-scheme: light)
{
    body
    {
        background-color: #ffffff;
        color: black;
    }

    a
    {
        color: #057AFB;
    }

    a:hover
    {
        color: #3090ff;
    }

    .welcome img
    {
        border: 5px solid #D1D1D6;
    }

    .navbar a {
        color: #AEAEB2;
        font-weight: bold;
    }

    .navbar a:hover,
    .navbar a:active,
    .navbar a:focus
    {
        color: black;
    }

    .disabled
    {
        color: black !important;
    }

    .experienceList b
    {
        color: black;
    }

    .navbar-custom
    {
        background-color: rgba(255, 255, 255, 0.7);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .navbar-toggler .toggler-icon {
        background: black;
    }
}

@media (prefers-color-scheme: dark)
{
    body
    {
        background-color: #1C1C1E;
        color: white;
    }

    a
    {
        color: #1584FB;
    }

    a:hover
    {
        color: #4198ff;
    }

    .welcome img
    {
        border: 5px solid #3A3A3C;
    }

    .navbar a {
        color: #636366;
        font-weight: bold;
    }

    .navbar a:hover,
    .navbar a:active,
    .navbar a:focus
    {
        color: white;
    }

    .navbar-custom
    {
        background-color: rgba(27, 28, 30, 0.7);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .disabled
    {
        color: white !important;
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    .experienceList b
    {
        color: white;
    }

    .navbar-toggler .toggler-icon {
        background: white;
    }
}

.welcome img
{
    width: 50vw;
    height: auto;
}
@media(max-width: 768px)
{
    .secondExperienceList
    {
        margin-top: -17px;
    }
}

@media(min-width: 768px)
{
    .download
    {
        margin-top: -15px;
    }

    .about
    {
        min-height: 40vh;
    }

    .welcome
    {
        min-height: 60vh;
    }

    .welcome img
    {
        width: 30vw;
        height: auto;
    }
}

.elementToFadeAndSlideIn1 {
    opacity: 0;
    -webkit-animation: fadeAndSlideIn 2.2s;
    animation: fadeAndSlideIn 2.2s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.elementToFadeAndSlideIn2 {
    opacity: 0;
    -webkit-animation: fadeAndSlideIn 2.2s;
    animation: fadeAndSlideIn 2.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.elementToFadeAndSlideIn3 {
    opacity: 0;
    -webkit-animation: fadeAndSlideIn 2.2s;
    animation: fadeAndSlideIn 2.2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.elementToFadeAndSlideIn4 {
    opacity: 0;
    -webkit-animation: fadeAndSlideIn 2.2s;
    animation: fadeAndSlideIn 2.2s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

@-webkit-keyframes fadeAndSlideIn {
    0%
    {
        transform: translate(0, 25%);
        opacity: 0;
    }

    30% { transform: translate(0); }

    100% { opacity: 1; }
}

@keyframes fadeAndSlideIn {
    0%
    {
        transform: translate(0, 25%);
        opacity: 0;
    }

    30% { transform: translate(0); }

    100% { opacity: 1; }
}